#header-nav{
  background-color: #65c9b4;
}
#bt{
  color: red;
}
.menu{
  height:500px;
  background-color:#eaedaf;
  margin:30px 5px 15px 5px;
  border:1px solid black;
  border-radius: 5px;
}
p{
  font-size: 30px;
  color:#1f718c;
  font-family: 'Lobster','cursive';
}
h3{
  color: #443b0f;
}
h1{
  color:#348549;
}
